/* all */

.green{
    color: lightgreen;
}

.blue{
    color: lightskyblue;
}

/* end all */
/* ------------------------------------------------------------------------------------------------------------*/

/* nav bar*/
#div-header{ 
    background-image: url(../img/laptop7.jpg);
    height: 40em;
    background-size: cover;
    
}

#header .header-background{
	background:rgba(44, 44, 86, 0.5);
    color: lightskyblue;
}

#header .navbar-default{
    border-color: rgba(44, 44, 86, 0.5);
}

.header-contact ul{
    margin-top: 2em;
    margin-bottom: 0;
}
.header-contact ul li{
    display: block;
    margin-right: 5em;
}


#header ul li a{
    color: whitesmoke;
}
#header ul li a:hover{
    color: rgb(190, 189, 193);
    background-image: none;
    background-color: rgba(44, 44, 86, 0.0);
}

#header .upper-bar{
    margin-top: 1em;
}

#header .header-line {
    margin-bottom: 0;
}

#header .dropdown-menu{
    padding-top: 1em;
    background-color: rgba(44, 44, 86, 0.5);
    top: 11.5em; /*height of main menu*/
    width: 100%;
    position: fixed;
}
#header .dropdown-menu li{
    font-size: 12px;
    display:block;  
    margin-left: 7em;
    margin-top: 1em;
}
/* end of nav bar*/
/*-------------------------------------------------------------------------------------------------------------*/


/* content */
#content{
    background-color: whitesmoke;
    height: 46em;
}  

/*сюда пишите css для своего контента


/* end of content */
/*--------------------------------------------------------------------------------------------------------------*/


/*footer */
#footer{
    height: 4em;
    background-color: rgba(44, 44, 86, 0.7);
    color: aliceblue;
}

/* end of footer */
/*----------------------------------------------------------------------------------------------------------------*/





